In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
titles = []
expanded_times = []
# Make a request to the 
for i in range(1,20):
  url = f'https://www.livemint.com/market/stock-market-news/page-{i}'
  webpage = requests.get(url).text

# Parse the HTML content of the webpage using Beautiful Soup

  soup=BeautifulSoup(webpage,'lxml')
  soup.find_all('div',class_='listtostory clearfix')

  divs = soup.find_all('div', class_='listtostory')
  for div in divs:
      title = div.find('h2', class_='headline').text.strip()
      expanded_time = div.find('span', {'data-expandedtime': True})['data-expandedtime']
      titles.append(title)
      expanded_times.append(expanded_time)
df = pd.DataFrame()
df['news_titles'] = titles
df['time']= expanded_times

In [2]:
df

,news_titles,time
0,3 stocks are Vaishali Parekh's technical to me...,"Updated: 12 Jun 2023, 10:06 PM IST"
1,IEX volatility to stay despite UBS okay,"Updated: 12 Jun 2023, 09:56 PM IST"
2,"Sequoia Capital pares stake in Go Fashions, So...","Updated: 12 Jun 2023, 09:42 PM IST"
3,"Delta Corp, IEX, others under F&O ban on NSE o...","Updated: 12 Jun 2023, 09:12 PM IST"
4,What to buy this week in market? Axis Securiti...,"Updated: 12 Jun 2023, 08:46 PM IST"
...,...,...
375,"Adani Ports net up 3% at Rs. 1,141 crore","Updated: 30 May 2023, 08:51 PM IST"
376,"Adani Ports to pay ₹1,080 cr worth dividend to...","Updated: 30 May 2023, 08:33 PM IST"
377,Suzlon posts ₹320 crore net profit in March qu...,"Updated: 30 May 2023, 08:11 PM IST"
378,Mankind Pharma Q4 results: PAT zooms 52% YoY t...,"Updated: 30 May 2023, 08:00 PM IST"
379,"FIIs extend buying to ₹2,086 crore on 30 May; ...","Updated: 30 May 2023, 07:52 PM IST"